body {
  background-image: url('../images/background.jpg');
  background-size: cover;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-form {
  display: flex;
  justify-content: center;
}


.weather-container {
  width: 450;
  height: 250;
  background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}